h1{
    color:deeppink;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
}
h2{
    color:darkorange;
    text-align:right;
    font-family:'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size:30px;
}
body{
    background-color: darkslategrey;
}